.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/dist
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
client/src/node/node
client/src/node/npm
client/src/node/npm.cmd
secrets/server.crt
secrets/server.csr
secrets/server.key
secrets/server.pem
client/logs/SignIn.test_geckodriver.log
client/logs/nightwatch/google_chromedriver.log
client/logs/test/HomeView.test_chromedriver.log
client/logs/test/SignIn.test_chromedriver.log
client/tests_output/FIREFOX_120.0.1__SignIn.test.json
client/tests_output/FIREFOX_120.0.1__SignIn.test.xml
client/tests_output/minimal_report.json
client/tests_output/nightwatch-html-report/index.html
client/tests_output/test/CHROME_119.0.6045.199__SignIn.test.json
client/tests_output/test/CHROME_119.0.6045.199__SignIn.test.xml
client/logs/test/Search.test_chromedriver.log
client/logs/test/Search.test_geckodriver.log
client/logs/test/SignIn.test_geckodriver.log
client/tests_output/test/CHROME_119.0.6045.199__Search.test.json
client/tests_output/test/CHROME_119.0.6045.199__Search.test.xml
client/tests_output/test/FIREFOX_120.0.1__Search.test.json
client/tests_output/test/FIREFOX_120.0.1__Search.test.xml
client/tests_output/test/FIREFOX_120.0.1__SignIn.test.json
client/tests_output/test/FIREFOX_120.0.1__SignIn.test.xml
